@import url('./__list/places__list.css');

.places {
  padding-top: 92px;
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    width: 100%;
  }
}
