@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list-accent/intro__list-accent.css');

.intro {
  padding-top: 92px;
  max-width: 984px;
  margin: 0 auto;
}
